@use "variables" as var;

.siteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 0 1em;
    border-bottom: 2px solid var.$light-color;

    &__link{
        text-decoration: none;
    }

    &__title {
        font-family: var.$title-font;
        color: var.$dark-color;
        text-transform: capitalize;
        letter-spacing: 4px;
        font-weight: 700;
        padding: 0;
        margin: 0;
        font-size: medium;
        
       
    }
    &__title--italics{
        font-style: italic ;
        text-transform: lowercase;
        font-size: medium;
        text-align: center;
        font-weight: 400;
    }
}

.headerNav {
    font-family: var.$body-font;
    font-weight: 300;
    &__list {
        display: flex; 
    }
    &__items {
        list-style: none;
        margin: 0 1em;
        padding: .3em .3em;
        &:hover{
            // background-color: var.$accent-color-dark;
            // color: var.$dark-color;
            padding:  .3em;
            border-radius: 5px;
            box-shadow: 2px 2px var.$dark-color;
            transition: all .3s ease;
        }
    }
    }
